@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header-centered {
  justify-content: center;
  transition: justify-content 0.5s ease;
}

.header-scrolled .header-centered {
  justify-content: flex-start;
}

.header-title {
  font-family: 'Roboto', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: middle;
  align-items: middle;
  min-height: 100vh;
  /* margin-top: 0; Remove the margin-top to center vertically */
}

body:not(.loaded) .animate__animated {
  animation: none !important;
}